@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

/* **UNIVERSAL** */

	

body, h1, h2, h3, h4, a {
	font-family: 'Oxygen', sans-serif !important;
}

body.navbar-is-fixed-top {
	padding-top:110px !important;
}

div.main-container.container {
	background:white;
	border-radius:9px;
	

}

a, button:hover, *:hover,  *, *:before, *:after{
	 transition: all 0.3s ease 0.2s;
}


div.navbar-collapse.collapse {
	padding:0px;
}

div.navbar-header {
	width:100%;
}

div.navbar-header a.logo {
	text-align:center;
	margin:0px auto;
	padding:0px;
	width:100%;
}

.navbar-default {
	background:white;
	border:0px;
}



h1.page-header {
	display:none;
}

h1, h2 {
	margin:0px;
	padding:6px 10px;
}

h2.pane-title {
	font-size:.85em;
	color:white;
	line-height:135%;
	text-transform:uppercase;
	letter-spacing:.5px;
	border-radius:4px;
	margin-bottom:6px;
}

div.pane-content h3 {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 9px;
    color: #999;
    font-size: 0.75em;
    letter-spacing: 0.5px;
    margin: 15px auto 20px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
}
	

div.panel-panel.panel-col h2.pane-title {
	background:#aaa;
}
div.panel-panel.panel-col-first h2.pane-title {
	background:#ccc;
}
div.panel-panel.panel-col-last h2.pane-title {
	background:#ccc;
}

div.pane-content {
	margin-bottom:30px;
}





div.pane-content p img {
	width:100%;
	height:auto;
	box-shadow: 0 0 5px #ccc;
}

/* no drop shadow for some portfolio images */

div.pane-block-1 div.pane-content p img,
div.pane-block-17 div.pane-content p img {
box-shadow:none;
}

/* footer panel image */

div.pane-block-7 div.pane-content p {
	text-align:center;
}




header#navbar.affix {
	box-shadow:1px 1px 3px #999999;
	opacity:.95;
	background:white;
	border-bottom:1px solid #aaa;
}

header#navbar.affix a.logo img {
	width:40%;
	height:auto;
}


/* Extra Small */ /* BREAKPOINT */
@media(max-width:479px){
	
body {
	background:red;
}

div.container {
	width:96%;
	padding:0px 15px;
}

div.main-container.container {
	background:white;
	border-radius:9px;
	width:96%;
}

div.panel-panel.panel-col p,
div.panel-panel.panel-col-first p,
div.panel-panel.panel-col-last p {
	width:100%;
	margin:0px auto 12px auto;
	padding:0 10px 0 10px;
}

div.panel-panel.panel-col,
div.panel-panel.panel-col-first,
div.panel-panel.panel-col-last {
	width:100%;

	
}

div.panel-panel.panel-col p,
div.panel-panel.panel-col-first p,
div.panel-panel.panel-col-last p {
	width:100%;
	margin:0px auto 12px auto;
	padding:0 10px 0 10px;
}

 div.panel-panel.panel-col div.inside,
  div.panel-panel.panel-col-first div.inside,
   div.panel-panel.panel-col-last div.inside
 {
	
	margin:0px 0px 1em 0px;
}
}

/* Small */ /* BREAKPOINT */
@media(min-width:480px) and (max-width:767px){
	
body {
	background:green;
}

iframe#twitter-widget-0, div#twitter-widget-0 {
	width:100% !important;
	max-width:none;
	
}

div.container {

}

div.main-container.container {
	 background: none repeat scroll 0 0 white;
    border-radius: 9px;
    padding: 2%;
    width: 96%;
}

div.panel-panel.panel-col,
div.panel-panel.panel-col-first,
div.panel-panel.panel-col-last {
	width:100%;
	
}

div.panel-panel.panel-col p,
div.panel-panel.panel-col-first p,
div.panel-panel.panel-col-last p {
	width:100%;
	margin:0px auto 12px auto;
	padding:0 10px 0 10px;
}

 div.panel-panel.panel-col div.inside,
  div.panel-panel.panel-col-first div.inside,
   div.panel-panel.panel-col-last div.inside
 {
	
	margin:0px 0px 1em 0px;
}

div.panel-pane.pane-block.pane-block-1 div /* CONFLUENCE */ {
float:left;
}

div.panel-pane.pane-block.pane-block-1 img.c-logo /* CONFLUENCE */ {
	width:60%;
	min-width:400px;
	margin:0px auto;
}

div.panel-pane.pane-block.pane-block-1 img.scuba, div.panel-pane.pane-block.pane-block-1 img.surf,  div.panel-pane.pane-block.pane-block-1 img.captain /* CONFLUENCE */ {
	
	width:30%;
	
}
}

/* Tablet */ /* BREAKPOINT */
@media(min-width:768px) and (max-width:991px){
	
body {
	background:yellow;
}

div.container {
	width:94%;
	padding:12px;
}

div.main-container.container {
	background:white;
	border-radius:9px;
	width:94%;
}

div.panel-panel.panel-col {
	width:42%;
}

div.panel-panel.panel-col-first {
width:26%;
float:left;
	margin-right:3%;
}

div.panel-panel.panel-col-last{
width:26%;
float:right;
	margin-left:3%;
}

div.panel-panel.panel-col,
div.panel-panel.panel-col-first,
div.panel-panel.panel-col-last {
	
	
}

div.panel-panel.panel-col p,
div.panel-panel.panel-col-first p,
div.panel-panel.panel-col-last p {
	width:100%;
	margin:0px auto 12px auto;
	padding:0 10px 0 10px;
}

 div.panel-panel.panel-col div.inside,
  div.panel-panel.panel-col-first div.inside,
   div.panel-panel.panel-col-last div.inside
 {
	
	margin:0px;
}

div.pane-content h3 {
    padding: 6px;
    width: 60%;
}
	


}



/* Medium */  /* BREAKPOINT */
@media(min-width:992px) and (max-width:1199px){
	
body {
	background:gray;
}

div.container {
	width:90%;
	padding:0px;
}

div.main-container.container {
	background:white;
	padding:15px;
	width:90%;
}

div.panel-panel.panel-col {
	width:50%;
}

div.panel-panel.panel-col-first {
width:23%;
float:left;
	margin-right:2%;
}

div.panel-panel.panel-col-last{
width:23%;
float:right;
	margin-left:2%;
}

div.panel-panel.panel-col,
div.panel-panel.panel-col-first,
div.panel-panel.panel-col-last {
	
	
}

div.panel-panel.panel-col p,
div.panel-panel.panel-col-first p,
div.panel-panel.panel-col-last p {
	width:100%;
	margin:0px auto 12px auto;
	padding:0 10px 0 10px;
}

 div.panel-panel.panel-col div.inside,
  div.panel-panel.panel-col-first div.inside,
   div.panel-panel.panel-col-last div.inside
 {
	
	margin:0px;
}

div.pane-content h3 {
    padding: 7px;
    width: 50%;
}
	


}


/* Large */ /* BREAKPOINT */
@media(min-width:1200px){
	
body {
	background:#fff;
}

div.container {
	width:88%;
	padding:0px;
	max-width:1600px;
}

div.main-container.container {
	background:white;
	padding:15px;
	width:88%;
	
}

div.panel-panel.panel-col {
	width:50%;
}

div.panel-panel.panel-col-first {
width:23%;
float:left;
	margin-right:2%;
	
	 
}

div.panel-panel.panel-col-last{
width:23%;
float:right;
	margin-left:2%;
	
	
}

div.panel-panel.panel-col,
div.panel-panel.panel-col-first,
div.panel-panel.panel-col-last {
	
	
}

 div.panel-panel.panel-col div.inside,
  div.panel-panel.panel-col-first div.inside,
   div.panel-panel.panel-col-last div.inside
 {
	
	margin:0px;
}

div.panel-panel.panel-col p,
div.panel-panel.panel-col-first p,
div.panel-panel.panel-col-last p {
	width:100%;
	margin:0px auto 12px auto;
	padding:0 10px 0 10px;
}

div.pane-content h3 {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 9px;
    color: #999;
    font-size: 0.75em;
    letter-spacing: 0.5px;
    margin: 15px auto 20px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
}
	

/* P INTRO? */

}